::-webkit-scrollbar {
    display: none;
}

#tab_plugin_NWTools {
  iframe {
    width: 100%;
    height: 600px;
    border: 1px solid #808080;
  }
}

#calibrate-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 20px
}

#calibrate-table td.calibrate_current, #calibrate-table td.calibrate_test, #calibrate-table td.calibrate_target, #calibrate-table td.calibrate_tool, #calibrate-table th.calibrate_current, #calibrate-table th.calibrate_test, #calibrate-table th.calibrate_target, #calibrate-table th.calibrate_tool {
    vertical-align: middle;
    text-align: center
}

#calibrate-table td.calibrate_current form, #calibrate-table td.calibrate_test form, #calibrate-table td.calibrate_target form, #calibrate-table td.calibrate_tool form, #calibrate-table th.calibrate_current form, #calibrate-table th.calibrate_test form, #calibrate-table th.calibrate_target form, #calibrate-table th.calibrate_tool form {
    margin: 0
}

#calibrate-table td.calibrate_current .dropdown-menu, #calibrate-table td.calibrate_test .dropdown-menu, #calibrate-table td.calibrate_target .dropdown-menu, #calibrate-table td.calibrate_tool .dropdown-menu, #calibrate-table th.calibrate_current .dropdown-menu, #calibrate-table th.calibrate_test .dropdown-menu, #calibrate-table th.calibrate_target .dropdown-menu, #calibrate-table th.calibrate_tool .dropdown-menu {
    text-align: left
}

#calibrate-table td.calibrate_tool, #calibrate-table th.calibrate_tool {
    width: 16%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#calibrate-table td.calibrate_current, #calibrate-table th.calibrate_current {
    width: 12%
}

#calibrate-table td.calibrate_target, #calibrate-table th.calibrate_target {
    width: 42%;
    overflow: visible
}

#calibrate-table td.calibrate_test, #calibrate-table th.calibrate_test {
    width: 30%
}

#touch body #tabs #tab_plugin_NWTools_link a:before, #touch body #navbar #all_touchui_settings #tab_plugin_NWTools_link a:before, #touch body #tabs #tab_plugin_NWTools_link2 a:before, #touch body #navbar #all_touchui_settings #tab_plugin_NWTools_link2 a:before {
        content: "\f0ad"
}

#touch body #tabs #tab_plugin_NWTools_2_link a:before, #touch body #navbar #all_touchui_settings #tab_plugin_NWTools_2_link a:before, #touch body #tabs #tab_plugin_NWTools_2_link2 a:before, #touch body #navbar #all_touchui_settings #tab_plugin_NWTools_2_link2 a:before {
        content: "\f085"
}

#touch body #tabs #plugins_NWTools_2_link a:before, #touch body #navbar #all_touchui_settings #control_link a:before, #touch body #tabs #control_link2 a:before, #touch body #navbar #all_touchui_settings #control_link2 a:before {
	content: "\f7d9"
}

#touch body #tabs #plugins_NWTools_2_link a:before, #touch body #navbar #all_touchui_settings #control_link a:before, #touch body #tabs #control_link2 a:before, #touch body #navbar #all_touchui_settings #control_link2 a:before {
	content: "\f546"
}


#touch body #temp>div:first-child {
	height: 40vh !important;
}

#touch body #temp>div:last-child table tr th {
	padding: 4px;
}

#touch body #temp>div:last-child table tr td {
	padding: 8px;
}
