#tab_plugin_NWTools {
  iframe {
    width: 100%;
    height: 600px;
    border: 1px solid #808080;
  }
}

#calibrate-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 20px
}

#calibrate-table td.calibrate_actual, #calibrate-table td.calibrate_offset, #calibrate-table td.calibrate_target, #calibrate-table td.calibrate_tool, #calibrate-table th.calibrate_actual, #calibrate-table th.calibrate_offset, #calibrate-table th.calibrate_target, #calibrate-table th.calibrate_tool {
    vertical-align: middle;
    text-align: center
}

#calibrate-table td.calibrate_actual form, #calibrate-table td.calibrate_offset form, #calibrate-table td.calibrate_target form, #calibrate-table td.calibrate_tool form, #calibrate-table th.calibrate_actual form, #calibrate-table th.calibrate_offset form, #calibrate-table th.calibrate_target form, #calibrate-table th.calibrate_tool form {
    margin: 0
}

#calibrate-table td.calibrate_actual .dropdown-menu, #calibrate-table td.calibrate_offset .dropdown-menu, #calibrate-table td.calibrate_target .dropdown-menu, #calibrate-table td.calibrate_tool .dropdown-menu, #calibrate-table th.calibrate_actual .dropdown-menu, #calibrate-table th.calibrate_offset .dropdown-menu, #calibrate-table th.calibrate_target .dropdown-menu, #calibrate-table th.calibrate_tool .dropdown-menu {
    text-align: left
}

#calibrate-table td.calibrate_tool, #calibrate-table th.calibrate_tool {
    width: 16%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#calibrate-table td.calibrate_actual, #calibrate-table th.calibrate_actual {
    width: 12%
}

#calibrate-table td.calibrate_target, #calibrate-table th.calibrate_target {
    width: 42%;
    overflow: visible
}

#calibrate-table td.calibrate_offset, #calibrate-table th.calibrate_offset {
    width: 30%
}
