<h1>{{ _('Northworks Controls') }}</h1>
<table width="600">
<col width="150">
<col width="5">
<col width="150">
<tr>
<td>
   <h1>General</h1>
    <button class="btn btn-primary" data-bind="click: unloadPrint">{{ _('Unload<br/>Print') }}</button>
&nbsp;
&nbsp;
    <button class="btn btn-primary" data-bind="click: lightsOn">{{ _('Lights<br/>On') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: lightsOff">{{ _('Lights<br/>Off') }}</button>
&nbsp;
&nbsp;
    <button class="btn btn-primary" data-bind="click: cabinetOn">{{ _('Cabinet Heater<br/>On') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: cabinetOff">{{ _('Cabinet Heater<br/>Off') }}</button>
</td>
<td>
</td>
</tr>
</table>
<br>
<table width="600">
<col width="150">
<col width="5">
<col width="150">
<tr>
<td>
<h1>Printhead 1</h1>
    <button class="btn btn-primary" data-bind="click: preheat1">{{ _('Preheat<br/>Head') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: loadFilament1">{{ _('Load<br/>Filament') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: unloadFilament1">{{ _('Unload<br/>Filament') }}</button>
&nbsp;
</td>
<td>
</td>
<td>
<h1>Printhead 2</h1>
    <button class="btn btn-primary" data-bind="click: preheat2">{{ _('Preheat<br/>Head') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: loadFilament2">{{ _('Load<br/>Filament') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: unloadFilament2">{{ _('Unload<br/>Filament') }}</button>
&nbsp;
</td>
</tr>
</table>

<br>
<table width="600">
<col width="150">
<col width="5">
<col width="150">
<tr>
<td>
  <h1>Setup</h1>
    <button class="btn btn-primary" data-bind="click: autoCalibrate">{{ _('Home<br/>Printhead') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: levelBed">{{ _('Bed<br/>Leveling') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: resetLeveling">{{ _('Reset<br/>Leveling') }}</button>
&nbsp;
</td>
</tr>
</table>
<table width="600">
<col width="600">
<td>
<h1>Calibration (Advanced)</h1>
<button class="btn btn-primary" data-bind="click: calibrateSensor">{{ _('Calibrate<br/>Sensor') }}</button>
&nbsp;
&nbsp;
&nbsp;
<button class="btn btn-primary" data-bind="click: autoCalibrate">{{ _('Calibrate<br/>Z Offset') }}</button>
&nbsp;
<button class="btn btn-primary" data-bind="click: moveUp">{{ _('&nbsp;&nbsp;^&nbsp;&nbsp; <br/>&nbsp;&nbsp;Z Up&nbsp;&nbsp;') }}</button>
&nbsp;
<button class="btn btn-primary" data-bind="click: moveDown">{{ _('&nbsp;&nbsp;V&nbsp;&nbsp; <br/>Z Down') }}</button>
&nbsp;
<button class="btn btn-primary" data-bind="click: setZOffset">{{ _('Set<br/>Z Offset') }}</button>
&nbsp;
</td>
</tr>
</table>


<div id="action_trigger_dialog" class="modal hide">
  <div class="modal-header">
    <!--<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a> Out for now-->
    <h3><p class="action_trigger_title"></p></h3> <!-- trigger title variable -->
  </div>
  <div data-bind="template: { name: actionTriggerTemplate() }"></div>
  </div>
<!-- Trigger Action Templates -->

<!-- Door -->
<script type="text/html" id="door_open">
  <div class="modal-body">
      <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
      <strong>The Xeed door is open, for safety reason we have paused the print!</strong> </br>
      To resume the print please close the door.
      To disable this feature go to Settings -> ActionTrigger and untick "Door detection".
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('I understand, let me access the controls') }}</a>
  </div>
</script>

<!-- Filament -->
<script type="text/html" id="preheating">
<!--  <div class="modal-footer">  -->
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('Cancel') }}</a>
  </div>
</script>

<script type="text/html" id="calibrating">
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('Done') }}</a>
  </div>
</script>

<script type="text/html" id="deflecting">
  <div class="modal-body">
    <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
    Make sure the printhead has been homed before proceeding.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('OK') }}</a>
  </div>
</script>

<script type="text/html" id="loading">
  <div class="modal-body">
    <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
    Press OK once filament starts extruding from the nozzle.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('OK') }}</a>
  </div>
</script>

<script type="text/html" id="unloading">
  <div class="modal-body">
    <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
    Press OK once filament has finished unloading.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('OK') }}</a>
  </div>
</script>
