<h3>{{ _('Northworks Controls') }}</h3>
<table width="600">
<col width="600">
<tr>
<td>
<h1>General</h1>
</td>
<td>
</td>
</tr>
</table>
<table width="800">
<col width="800">
<tr>
<td>
    <button class="btn btn-primary" data-bind="click: unloadPrint">{{ _('Unload<br/>Print') }}</button>
&nbsp;
&nbsp;
&nbsp;
    <button class="btn btn-primary" data-bind="click: lightsOn">{{ _('Lights<br/>On') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: lightsOff">{{ _('Lights<br/>Off') }}</button>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
    <button class="btn btn-primary" data-bind="click: homePrinthead">{{ _('Home<br/>Printhead') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: levelBed">{{ _('Bed<br/>Leveling') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: resetLeveling">{{ _('Reset<br/>Leveling') }}</button>
&nbsp;
</td>
<td>
</td>
</tr>
</table>
<br>
<table width="600">
<col width="225">
<col width="25">
<col width="225">
<tr>
<td>
<h1>Printhead 1</h1>
    <button class="btn btn-primary" data-bind="click: preheat1">{{ _('Preheat<br/>Head') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: loadFilament1">{{ _('Load<br/>Filament') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: unloadFilament1">{{ _('Unload<br/>Filament') }}</button>
&nbsp;
</td>
<td>
</td>
<td>
<h1>Printhead 2</h1>
    <button class="btn btn-primary" data-bind="click: preheat2">{{ _('Preheat<br/>Head') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: loadFilament2">{{ _('Load<br/>Filament') }}</button>
&nbsp;
    <button class="btn btn-primary" data-bind="click: unloadFilament2">{{ _('Unload<br/>Filament') }}</button>
&nbsp;
</td>
</tr>
</table>
<br>
<table width="600">
<col width="600">
<tr>
<td>
<h1>Calibration (Advanced)</h1>
</td>
</tr>
</table>

<table id="zoffset-table" class="table table-bordered table-hover">
        <tr>
            <th class="zoffset_actual" title="{{ _('Current actual zoffset as reported by your printer') }}">{{ _('Actual') }}</th>
            <th class="zoffset_target" title="{{ _('Current target zoffset as reported by your printer') }}">{{ _('Target') }}</th>
        </tr>
<tr>
<td class="zoffset_actual" data-bind="html: $root.formatZoffset(actual()), attr: {title: $root.formatZoffset(actual())}"></td>
<td class="zoffset_target">
    <form class="form-inline" style="margin:0" data-bind="submit: $root.setTarget">
        <div class="input-prepend input-append">
            <button type="button" class="btn btn-input-dec2" data-bind="click: $root.decrementTarget, enable: $root.isOperational() && $root.loginState.isUser()" title="{{ _('Fine adjust: -1°C') }}"><i class="fa fa-minus"></i></button>
            <input type="number" min="0" max="999" class="input-mini input-nospin" style="width: 30px" data-bind="attr: {placeholder: cleantemperature(target())}, value: $root.newTarget, valueUpdate: 'input', enable: $root.isOperational() && $root.loginState.isUser()">
            <button type="button" class="btn btn-input-inc2" data-bind="click: incrementTarget2" title="{{ _('Fine adjust: +1°C') }}"><i class="fa fa-plus"></i></button>
        </div>
        <div class="btn-group">
            <button type="submit" data-bind="enable: $root.isOperational() && $root.loginState.isUser() && $root.newTargetValid()" class="btn btn-primary" title="{{ _('Set') }}"><i class="fa fa-check"></i></button>
        </div>
    </form>
</td>
</tr>
</table>


<table width="900">
<col width="900">
<tr>
<td>
&nbsp;&nbsp;
</td>
</tr>
<tr>
<td>
<button class="btn btn-primary" data-bind="click: autoCalibrate">{{ _('Calibrate<br/>Z Offset') }}</button>
&nbsp;
<button class="btn btn-primary" data-bind="click: calibrateSensor">{{ _('Calibrate<br/>Sensor') }}</button>
&nbsp;
<button class="btn btn-primary" data-bind="click: calibrateDeflection">{{ _('Calibrate<br/>Deflection') }}</button>
&nbsp;
</td>
</tr>
</table>


<div id="action_trigger_dialog" class="modal hide">
  <div class="modal-header">
    <!--<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a> Out for now-->
    <h3><p class="action_trigger_title"></p></h3> <!-- trigger title variable -->
  </div>
  <div data-bind="template: { name: actionTriggerTemplate() }"></div>
</div>
<!-- Trigger Action Templates -->

<!-- Door -->
<script type="text/html" id="door_open">
  <div class="modal-body">
      <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
      <strong>The Xeed door is open, for safety reason we have paused the print!</strong> </br>
      To resume the print please close the door.
      To disable this feature go to Settings -> ActionTrigger and untick "Door detection".
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('I understand, let me access the controls') }}</a>
  </div>
</script>

<!-- Filament -->
<script type="text/html" id="preheating">
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('Cancel') }}</a>
  </div>
</script>

<script type="text/html" id="calibrating">
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('Done') }}</a>
  </div>
</script>

<script type="text/html" id="deflecting">
  <div class="modal-body">
    <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
    Make sure the printhead has been homed before proceeding.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('OK') }}</a>
  </div>
</script>

<script type="text/html" id="loading">
  <div class="modal-body">
    <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
    Press OK once filament starts extruding from the nozzle.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('OK') }}</a>
  </div>
</script>

<script type="text/html" id="unloading">
  <div class="modal-body">
    <!-- Message variable goes here with extra stuff might have to split into seperate dialogs being called -->
    Press OK once filament has finished unloading.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning action_trigger_dialog_acknowledge" aria-hidden="true">{{ _('OK') }}</a>
  </div>
</script>
